[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "greta-flask-dash"

[packages]
flask = "~=2.2.2"
unidecode = "*"
flask-wtf = "*"
email-validator = "*"
flask-bootstrap = "*"
dash = "*"
pandas = "*"
dash-bootstrap-components = "*"

[dev-packages]

[requires]
python_version = "3.9"
